
body{
	margin: 0;
	padding: 0;
	background: #AF454D;
}
button{
	float: left;
	border: 1px solid #bcbccf;
	background: #050505;
	display: inline-block;
	color: white;
	padding: 20px 30px;
	margin: 10px auto;
	cursor: pointer;
	transition-duration: 0.4s;
	border-radius: 5px;
}
button:hover{
	background: white;
	color:#ff0000;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
	background: #AF454D;
	color:white;
	position: absolute;
	display: none;
	min-width: 150px;
	z-index: 1;
	border:none;
}
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 19px 30px;
  font-size: 16px;
  border: 1px solid white;
}
.dropdown:hover .dropdown-content{
	display: block;
}
h1{
	text-align: center;
}
.box input[type="text"],.box input[type="number"]{
	background: none;
	display: block;
	margin-left: 130px;
	margin-top: 40px;
	text-align: left;
	border:2px solid #079C9D;
	padding: 10px 10px;
	width:200px;
	outline: none;
	color: white;
	transform: 0.30s;
}
.box font{
	color: white;
	display: block;
	margin-left: 10px
}
.box input[type="submit"]{
	background: none;
	display: block;
	margin-left: 700px;
	text-align: center;
	border:2px solid #079C9D;
	padding: 14px 42px;
	width:150px;
	outline: none;
	color: white;
	border-radius: 20px;
	transform: 0.30s;
	cursor: pointer;
} 